<form>
  <!-- directive -->
  <div ngxUid #labelId="ngxUid">Favorite Star Wars Movie?</div>
  <div role="radiogroup" [attr.aria-labelledby]="labelId">
    <div *ngFor="let movie of movies">
      <input ngxUid #inputId="ngxUid" type="radio" name="movie" [value]="movie">
      <label [for]="inputId">{{ movie }}</label>
    </div>
  </div>

  <!-- service -->
  <div>
    <label [for]="bestLabelId">Best Movie Ever?</label>
    <input [id]="bestLabelId" type="text">
  </div>
  <div>
    <label [for]="worstLabelId">Worst Movie Ever?</label>
    <input [id]="worstLabelId" type="text">
  </div>
</form>

<!-- directive no binding -->
<div id="notBound" #myDiv ngxUidNoBind #myId="ngxUidNoBind">
  <div>Here is the div id: {{myDiv.id}}</div>
  <div>Here is what a unique id looks like: {{myId}}</div>
</div>
